<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Футбольная Статистика</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="/static/script.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<head>
<body>
    <div class="container mt-5">
        <!-- <h1>Введите ваш токен</h1>
            <input type="text" id="tokenInput" class="form-control" placeholder="Введите токен здесь">
        <div id="clubsContainer" style="display:none;"> -->

        <h1 class="text-center">Футбольная Статистика</h1>
        <div id="jsonWindow">
            <h2>Статистика клуба:</h2>
            <pre><code id="statistics" class="language-json"></code></pre>
        </div>
        <!-- <div id="overlay"></div>
        <h2>Статистика клуба:</h2>
         <pre id="statistics" style="background: #f0f0f0; padding: 10px;"></pre> 
        <pre id="statistics" class="language-json"></code></pre> -->
        

        <form id="search-form" class="mt-4">
            <div class="row mb-3">
                <div class="col">
                    <label for="season" class="form-label">Сезон</label>
                    <select id="season" class="form-select" name="season">
                        <!-- Здесь будут опции для сезонов -->
                    </select>
                </div>
                <div class="col">
                    <label for="champ" class="form-label">Чемпионат</label>
                    <select id="champ" class="form-select" name="champ">
                        <!-- Здесь будут опции для чемпионатов -->
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label for="team" class="form-label">Клуб</label>
                    <select id="team" class="form-select" name="team">
                        <!-- Здесь будут опции для клубов -->
                    </select>
                </div>
                <!-- <div class="col">
                    <label for="country" class="form-label">Страна</label>
                    <select id="country" class="form-select" name="country">
                        <option value="">Выберите страну</option>
                        Здесь будут опции для стран -->
                    </select>
                </div> 
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label for="team-search" class="form-label">Поиск клуба:</label>
                    <input type="text" id="team-search" class="form-control" placeholder="Введите название клуба"  autocomplete="off" />
                     <ul id="results"></ul>
                    <div id="no-results">Совпадений не найдено.</div>
                    <div id="loader">Загрузка...</div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label for="player" class="form-label">Игрок</label>
                    <input type="text" id="player" class="form-control" name="player" placeholder="Введите имя игрока" autocomplete="off" >
                </div>
            </div>

            <!-- <button type="submit" class="btn btn-primary">Поиск</button> -->
        </form>

        <div id="results" class="mt-5">
            <h2>Результаты:</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Игрок</th>
                        <th>Клуб</th>
                        <th>Чемпионат</th>
                        <th>Сезон</th>
                        <th>Страна</th>
                        <th>Статистика</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Здесь будут строки с результатами -->
                </tbody>
            </table>
        </div>
        <div id="statistic-details" class="mt-5" style="display: none;">
            <h2>Подробная статистика:</h2>
            <pre id="json-output" class="border p-3"></pre>
            <button id="back-button" class="btn btn-secondary mt-3">Вернуться к результатам</button>
        </div>
    </div>
    
</body>
</html>
