<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Футбольная Статистика</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 20px;
        }
        h1 {
            text-align: center;
            color: #495057;
        }
        .custom-select {
            position: relative;
            display: inline-block;
            width: 300px;
            margin: 0 auto;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
        }

        .select-trigger {
            position: relative;
            display: block;
            padding: 12px 15px;
            border: 1px solid #ced4da;
            border-radius: 8px;
            cursor: pointer;
            background-color: #fff;
            color: #495057;
            font-weight: bold;
            transition: all 0.2s ease;
        }

        .select-trigger:hover {
            border-color: #80BDFF;
            background-color: #f1f1f1;
        }

        .custom-options {
            display: none;
            position: absolute;
            background-color: #fff;
            border: 1px solid #ced4da;
            border-radius: 8px;
            width: 100%;
            z-index: 1;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            margin-top: 5px;
        }

        .custom-options div {
            padding: 12px 15px;
            cursor: pointer;
            transition: background-color 0.2s ease;
        }

        .custom-options div:hover {
            background-color: #e9ecef;
        }

        .show {
            display: block;
        }

        /* Адаптивность */
        @media (max-width: 480px) {
            .custom-select {
                width: 100%;
            }

            .select-trigger, .custom-options div {
                padding: 10px;
            }
        }
        .search-wrapper {
            max-width: 400px;
            margin: 0 auto;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
            position: relative;
        }
        #search {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            transition: border-color 0.3s ease;
        }
        #search:focus {
            border-color: #66afe9;
            outline: none;
        }
        #results {
            list-style-type: none;
            padding: 0;
            margin-top: 5px;
            position: absolute;
            width: 100%;
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            z-index: 1;
            display: none;
        }
        #results li {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
            transition: background 0.3s ease;
        }
        #results li:hover, #results li.selected {
            background: #f0f0f0;
        }
        #no-results {
            padding: 10px;
            color: #d9534f;
            display: none;
        }
        #loader {
            display: none;
            margin-top: 10px;
        }
        /* Стили для Prism.js */
        
        #jsonWindow {
            display: none; /* Скрываем окно по умолчанию */
            max-width: 600px;
            max-height: 400px;
            padding: 20px;
            background-color: #1e1e1e; /* Черный фон для окна */
            color: white;  /* Белый текст */
            border: 1px solid #ccc; 
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            overflow-y: auto; /* Позволяет прокручивать содержимое */
            border-radius: 5px;
        }
        pre {
            background-color: #1e1e1e; /* Убираем белый фон */
            margin: 0; /* Убираем отступы */
            overflow: auto; /* Позволяет прокручивать содержимое */
            white-space: pre-wrap; /* Оборачиваем длинные строки */
        }
        /* .hljs {
            background-color: #1e1e1e;
            color: white;

        } */
    </style>
<head>
    
<body>
    <div class="container mt-5">
        <!-- <h1>Введите ваш токен</h1>
            <input type="text" id="tokenInput" class="form-control" placeholder="Введите токен здесь">
        <div id="clubsContainer" style="display:none;"> -->

        <h1 class="text-center">Футбольная Статистика</h1>
        <div id="jsonWindow">
            <h2>Статистика клуба:</h2>
            <pre><code id="statistics" class="language-json"></code></pre>
        </div>
        <!-- <div id="overlay"></div>
        <h2>Статистика клуба:</h2>
         <pre id="statistics" style="background: #f0f0f0; padding: 10px;"></pre> 
        <pre id="statistics" class="language-json"></code></pre> -->
        

        <form id="search-form" class="mt-4">
            <div class="row mb-3">
                <div class="col">
                    <label for="season" class="form-label">Сезон</label>
                    <select id="season" class="form-select" name="season">
                        <option value="">Выберите сезон</option>
                        <!-- Здесь будут опции для сезонов -->
                    </select>
                </div>
                <div class="col">
                    <label for="league" class="form-label">Чемпионат</label>
                    <select id="league" class="form-select" name="league">
                        <option value="">Выберите чемпионат</option>
                        <!-- Здесь будут опции для чемпионатов -->
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label for="club" class="form-label">Клуб</label>
                    <select id="club" class="form-select" name="club">
                        <option value="">Выберите клуб</option>
                        <!-- Здесь будут опции для клубов -->
                    </select>
                </div>
                <!-- <div class="col">
                    <label for="country" class="form-label">Страна</label>
                    <select id="country" class="form-select" name="country">
                        <option value="">Выберите страну</option>
                        Здесь будут опции для стран -->
                    </select>
                </div> 
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label for="club-search" class="form-label">Поиск клуба:</label>
                    <input type="text" id="club-search" class="form-control" placeholder="Введите название клуба"  autocomplete="off" />
                     <ul id="results"></ul>
                    <div id="no-results">Совпадений не найдено.</div>
                    <div id="loader">Загрузка...</div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label for="player" class="form-label">Игрок</label>
                    <input type="text" id="player" class="form-control" name="player" placeholder="Введите имя игрока" autocomplete="off" >
                </div>
            </div>

            <!-- <button type="submit" class="btn btn-primary">Поиск</button> -->
        </form>

        <div id="results" class="mt-5">
            <h2>Результаты:</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Игрок</th>
                        <th>Клуб</th>
                        <th>Чемпионат</th>
                        <th>Сезон</th>
                        <th>Страна</th>
                        <th>Статистика</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Здесь будут строки с результатами -->
                </tbody>
            </table>
        </div>

        
        

        <div id="statistic-details" class="mt-5" style="display: none;">
            <h2>Подробная статистика:</h2>
            <pre id="json-output" class="border p-3"></pre>
            <button id="back-button" class="btn btn-secondary mt-3">Вернуться к результатам</button>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script>
        const DOMAIN = 'http://127.0.0.1:8000'
        // const DOMAIN = 'https://www.goalstatsapi.ru/'
        document.getElementById('search-form').addEventListener('submit', function(event) {
            event.preventDefault();
            // Здесь будет логика отправки формы и отображения результатов
            fetchStatistics();
        });

        // Пример функции для получения данных статистики
        function fetchStatistics() {
            const season = document.querySelector('select[name="season"]').value;
            const league = document.querySelector('select[name="league"]').value;
            const club = document.querySelector('select[name="club"]').value;
            const country = document.querySelector('select[name="country"]').value;
            const player = document.querySelector('input[name="player"]').value;

            // Пример AJAX-запроса
            fetch(`/api/statistics?season=${season}&league=${league}&club=${club}&country=${country}&player=${player}`)
                .then(response => response.json())
                .then(data => {
                    displayResults(data);
                })
                .catch(error => console.error('Ошибка:', error));
        }

        function displayResults(data) {
            const tbody = document.querySelector('#results tbody');
            tbody.innerHTML = ''; // Очистить текущее содержимое

            data.forEach(item => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td><a href="#" class="player-link" data-id="${item.playerId}">${item.playerName}</a></td>
                    <td>${item.club}</td>
                    <td>${item.league}</td>
                    <td>${item.season}</td>
                    <td>${item.country}</td>
                    <td><button class="btn btn-info view-stats" data-id="${item.playerId}">Посмотреть статистику</button></td>
                `;
                tbody.appendChild(row);
            });

            // Добавить обработчик событий для кнопок статистики игроков
            document.querySelectorAll('.view-stats').forEach(button => {
                button.addEventListener('click', function() {
                    const playerId = this.getAttribute('data-id');
                    fetchPlayerStatistics(playerId);
                });
            });
        }

        function fetchPlayerStatistics(playerId) {
            fetch(`/api/player/statistics/${playerId}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('json-output').textContent = JSON.stringify(data, null, 2);
                    document.getElementById('statistic-details').style.display = 'block';
                    document.getElementById('results').style.display = 'none';
                })
                .catch(error => console.error('Ошибка:', error));
        }

        document.getElementById('back-button').addEventListener('click', function() {
            document.getElementById('statistic-details').style.display = 'none';
            document.getElementById('results').style.display = 'block';
        });
        
        async function fetchSeasons() {
            const response = await fetch('/api/seasons/');
            return await response.json();
        }

        async function fetchStatisticsSeasonId(season_id) { 
            const response = await fetch(`${DOMAIN}/api/statistics/?season_id=${season_id}`);
            return await response.json();
        }

        async function fetchChampionships(season_id) {
            const response = await fetch(`${DOMAIN}/api/championships/?season_id=${season_id}`);
            return await response.json();
        }

        async function fetchChampionshipId(championship_id) {
            const response = await fetch(`${DOMAIN}/api/statistics/?championship_id=${championship_id}`);
            return await response.json();
        }

        async function fetchClubs(championshipId) {
            const response = await fetch(`${DOMAIN}/api/clubs/?championshipId=${championshipId}`);
            return await response.json();
        }
        
        async function fetchStatisticsClubId(club_id) {
            const response = await fetch(`${DOMAIN}/api/clubs/${club_id}/statistics`);
            return await response.json();
        }

        async function fetchAllClubs() {
            const response = await fetch('/api/clubs'); // Отправляем запрос на получение всех клубов
            return await response.json();
        }
        
        async function fetchClub(query) {
            const response = await fetch(`/api/clubs/search/?query=${encodeURIComponent(query)}`);
            return await response.json();
        }

        async function fetchAllStatClub(clubName) {
            const response = await fetch(`${DOMAIN}/api/statistics/?club_name=${clubName}`);
            return await response.json();
        }


        async function updateSeasons() {
            const seasons = await fetchSeasons();
            const seasonSelect = document.getElementById('season');
            seasonSelect.innerHTML = ''; // Очистка предыдущих опций
            seasons.forEach(season => {
                sessionStorage.setItem(season['name'] , parseInt(season['id']) );
                const option = document.createElement('option');
                option.value = season['name'] ;
                option.textContent = season['name'] ;
                seasonSelect.appendChild(option);
            });
            // Загрузить чемпионаты после загрузки сезонов
            await updateChampionships();
        }

        async function updateChampionships() {
            const season = document.getElementById('season').value;
            const seasonId = sessionStorage.getItem(season);
           //const championships = await fetchChampionships(seasonId);
            const championships = await fetchChampionships(seasonId);
            const championshipSelect = document.getElementById('league');
            championshipSelect.innerHTML = ''; // Очистка предыдущих опций
            championships.forEach(championship => {
                sessionStorage.setItem(championship['name'], parseInt(championship['id']) );
                const option = document.createElement('option');
                option.value = championship['name'];
                option.textContent = championship['name'];
                championshipSelect.appendChild(option);
            });
            // Загрузить клубы, когда будут выбраны чемпионаты
            await updateClubs();
        }

        async function updateClubs() {
            const championshipSelect = document.getElementById('league');
            const championship = championshipSelect.value;
            const season = document.getElementById('season').value;

            // const clubs = await fetchClubs(championship, season);
            const championshipId = sessionStorage.getItem(championship);
            const clubs = await fetchClubs(championshipId);
            const clubSelect = document.getElementById('club');
            const clubSearch = document.getElementById('club-search');
            clubSelect.innerHTML = '';
            clubs.forEach(club => {
                sessionStorage.setItem(club['name'], parseInt(club['id']) );
                const option = document.createElement('option');
                option.value = club['name'];
                option.textContent = club['name'];
                clubSelect.appendChild(option);
            });
            // Выбор последнего клуба и обновление статистики
            if (clubs.length > 0) {
                // clubSelect.value = clubs[clubs.length - 1]; // Выбор последнего клуба
                clubSelect.value = clubs[0]['name']; // Выбор последнего клуба
                await updateStatistics(); // Автоматически обновляем статистику клуба
            }

            // Очищаем поле поиска клуба и обновляем его дропдаун
            clubSearch.value = '';
            //searchClubs(); // Обновляем список клубов в datalist
        }

        async function updateStatistics() {
            const season = document.getElementById('season').value;
            const league = document.getElementById('league').value;
            const club = document.getElementById('club').value;
            if (club) {

                const clubId = sessionStorage.getItem(club);
                const statistics = await fetchStatisticsClubId(clubId);
                document.getElementById('statistics').textContent = JSON.stringify(statistics, null, 2);
                // Обновляем подсветку синтаксиса
                hljs.highlightElement(document.getElementById('statistics'));
                document.getElementById('jsonWindow').style.display = 'block';
            }
            // sessionStorage.clear() 

        }
        
        async function updateSelect(query) {
            
            searchInput.value = query;
            resultsList.innerHTML = '';
            resultsList.style.display = 'none';
            noResultsDiv.style.display = 'none';
            const statClub = await fetchAllStatClub(query);
            
            const seasonSelect = document.getElementById('season');
            seasonSelect.innerHTML = ''; // Очистка предыдущих опций
            sessionStorage.clear() 
            sessionStorage.setItem('seasons',JSON.stringify(statClub));
            const sortedKeys = Object.keys(statClub).sort();
            
            sortedKeys.reverse().forEach(key => {
                const option = document.createElement('option');
                option.value = key;
                option.textContent = key;
                seasonSelect.appendChild(option);
            });
            const champ =  document.getElementById('league')
            champ.innerHTML = ''
            // let optionDef = document.createElement('option');
            // optionDef.value = 'Выберите чемпионат';
            // optionDef.textContent = 'Выберите чемпионат';
            // champ.appendChild(optionDef) ;
            const season = document.getElementById('season').value;
            let oneChamp = ''
            let isOne = true 
            Object.keys(statClub[season]).forEach(champName => {
                if (isOne) {
                    oneChamp = champName
                    isOne = false
                }
                const option = document.createElement('option');
                option.value = champName;
                option.textContent = champName;
                champ.appendChild(option);
            });
            let club = document.getElementById('club')
            club.innerHTML = ''
            let optionQuery = document.createElement('option');
            optionQuery.value = query;
            optionQuery.textContent = query;
            club.appendChild(optionQuery) ;
            getStatistics(statClub[season][oneChamp])

            document.getElementById('season').removeEventListener('change', updateChampionships);
            document.getElementById('league').removeEventListener('change', updateClubs);
            document.getElementById('club').removeEventListener('change', updateStatistics);

            document.getElementById('season').addEventListener('change', changeSeason);
            document.getElementById('league').addEventListener('change', changeLeague);
        }

        async function changeSeason() {
            const season = document.getElementById('season').value;
            const seasonStat = JSON.parse(sessionStorage.getItem('seasons'));
            const champSelect = document.getElementById('league');
            champSelect.innerHTML = ''
            let oneChamp = ''
            let isOne = true 
            Object.keys(seasonStat[season]).forEach(champName => {
                if (isOne) {
                    oneChamp = champName
                    isOne = false
                }
                const option = document.createElement('option');
                option.value = champName;
                option.textContent = champName;
                champSelect.appendChild(option);
            });
            getStatistics(seasonStat[season][oneChamp])
        }

        async function getStatistics(query) {
            const statistics = await fetchStatisticsClubId(query);
            document.getElementById('statistics').textContent = JSON.stringify(statistics, null, 2);
        }

        async function changeLeague(query) {
            const season = document.getElementById('season').value;
            const seasonStat = JSON.parse(sessionStorage.getItem('seasons'));
            const champ = document.getElementById('league').value;
            console.log(seasonStat[season][champ])
            getStatistics(seasonStat[season][champ])
            
        }

        let lastTime = 0;
        async function searchClubs() {
            const currentTime = Date.now();
            const timeDiff = currentTime - lastTime;

            if (timeDiff < 300) return; // Лимит: 300 мс
            lastTime = currentTime;
            const query = document.getElementById('club-search').value.toLowerCase();
            if (!query) {
                document.getElementById('results').innerHTML = ''; // Очищаем предложения, если запрос пустой
                return;
            }
            const filteredClubs = await fetchClub(query)
            resultsList.innerHTML = '';
            if (filteredClubs.length > 0) {
                filteredClubs.forEach(item => {
                    const li = document.createElement('li');
                    li.innerHTML = highlightMatches(item, query);
                    li.addEventListener('click', () => updateSelect(item));
                    resultsList.appendChild(li);
                });
                resultsList.style.display = 'block';
            } else {
                noResultsDiv.style.display = 'block'; // Показать сообщение об отсутствии результатов
            }
            loader.style.display = 'none';
        
            

            // Если при вводе только одно совпадение, обновляем выбор клуба
            if (filteredClubs.length === 1) {
                document.getElementById('club-search').value = filteredClubs[0];
                document.getElementById('club').value = filteredClubs[0];
                await updateStatistics();
            }
        }

        function selectClub() {
            const selectedClub = document.getElementById('club-search').value;
            document.getElementById('club').value = selectedClub;
            updateStatistics();
            // Очистка поля для поиска по клубам
            document.getElementById('club-search').value = '';
            document.getElementById('results').innerHTML = ''; // Очищаем список предложений
        }
        async function main(){
            document.getElementById('player').addEventListener('click', () => {
                document.getElementById('player').disabled = true;
                console.log("Тесты начались: поле ввода отключено.");
            });
            await updateSeasons(); // Загружаем сезоны
            document.getElementById('season').addEventListener('change', updateChampionships);
            document.getElementById('league').addEventListener('change', updateClubs);
            document.getElementById('club').addEventListener('change', updateStatistics);

            document.getElementById('season').removeEventListener('change', changeSeason);
            document.getElementById('league').removeEventListener('change', changeLeague);
            //document.getElementById('club-search').addEventListener('input', searchClubs);
            // await fetchClubs();

        };


        // Вызываем функцию после загрузки страницы
        window.onload = main()

        const searchInput = document.getElementById('club-search');
        const resultsList = document.getElementById('results');
        const noResultsDiv = document.getElementById('no-results');
        const loader = document.getElementById('loader');
        let selectedIndex = -1;
        let debounceTimer;
        let backspaceHoldTimer;
        let previousValue = ''; // Для хранения предыдущего значения
        let allDel = false

        function highlightMatches(item, query) {
            const regex = new RegExp(`(${query})`, 'gi');
            return item.replace(regex, '<strong>$1</strong>');
        }

        function renderHistory() {
            // Ваш код для отображения истории
            // ...
        }

        searchInput.addEventListener('input', function() {
            clearTimeout(debounceTimer);
            const query = searchInput.value.toLowerCase();
            resultsList.innerHTML = '';
            resultsList.style.display = 'none';
            noResultsDiv.style.display = 'none';
            loader.style.display = 'none';
            selectedIndex = -1;

            debounceTimer = setTimeout(() => {
                if (query === '') {
                    renderHistory();
                    main() // Если пусто, показываем историю или ничего
                    return;
                }

                searchClubs(query);
            }, 300);
        });


        searchInput.addEventListener('keydown', function(event) {
            const items = resultsList.getElementsByTagName('li');
            if (event.key === 'ArrowDown') {
                selectedIndex = (selectedIndex + 1) % items.length;
                highlightSelectedItem(items);
                event.preventDefault();
            } else if (event.key === 'ArrowUp') {
                selectedIndex = (selectedIndex - 1 + items.length) % items.length;
                highlightSelectedItem(items);
                event.preventDefault();
            } else if (event.key === 'Enter') {
                event.preventDefault(); // Предотвращение отправки формы
                if (selectedIndex >= 0 && selectedIndex < items.length) {
                    const itemToSelect = items[selectedIndex].textContent;
                    searchInput.value = itemToSelect;
                    resultsList.innerHTML = '';
                    resultsList.style.display = 'none';
                    noResultsDiv.style.display = 'none';
                    updateSelect(itemToSelect)
                }
            } else if (event.key === 'Backspace') {
                if (!allDel && searchInput.value == '') {
                    main()
                    allDel = true
                }
                if (searchInput.value !== previousValue) {
                    allDel = false
                    clearTimeout(debounceTimer);
                    previousValue = searchInput.value; // Обновляем последнее значение
                    searchInput.value = searchInput.value.slice(0, -1); // Удаление последнего символа
                    searchClubs(searchInput.value); // Обновление результатов поиска
                }
                if (!backspaceHoldTimer) {
                    backspaceHoldTimer = setInterval(() => {
                        searchInput.value = searchInput.value.slice(0, -1); // Удаление последнего символа
                        if (searchInput.value !== previousValue) {
                            previousValue = searchInput.value;
                            searchClubs(searchInput.value);
                        }
                    }, 100);
                }
                event.preventDefault()
            }
        });

        searchInput.addEventListener('keyup', function(event) {
            if (event.key === 'Backspace') {
                clearInterval(backspaceHoldTimer);
                backspaceHoldTimer = null; // Сбрасываем таймер
            }
        });

        function highlightSelectedItem(items) {
            for (let i = 0; i < items.length; i++) {
                items[i].classList.remove('selected');
            }
            if (items[selectedIndex]) {
                items[selectedIndex].classList.add('selected');
            }
        }

        document.addEventListener('click', function(event) {
            if (!searchInput.contains(event.target) && !resultsList.contains(event.target)) {
                resultsList.innerHTML = '';
                resultsList.style.display = 'none';
                noResultsDiv.style.display = 'none'; 
            }
        });
        
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>

</body>
</html>